@import '_colors.scss';
$primary-gradient: linear-gradient(135deg, $primary-color 0%, #E0C3FC 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 0;
  padding: 80px 0 16px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 22vh;
  background: $secondary-color;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
